<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-11">
          <h3>Survey List </h3>
          <br>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th class="text-center">Author</th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <!-- Template Row -->
                <% for (let count = 0; count < survey.length; count++) { %>
                <tr>
                  <td><%= survey[count].Title %></td>
                  <td class="text-center"><%= survey[count].Author %></td>
                  
                  <td class="text-center">
                  <!-- Read button -->
                    <a href="/survey/read/<%= survey[count]._id %>" class="btn btn-primary btn-sm">Take Quiz</a>
                  </td>


                  <td class="text-center">
                  <!-- Update button -->
                    <a href="/survey/update/<%= survey[count]._id %>" class="btn btn-primary btn-sm"></i> Update</a>
                  </td>


                  <td class="text-center">
                  <!-- Results button -->
                    <a href="/survey/result/<%= survey[count]._id %>" class="btn btn-primary btn-sm">Result</a>
                  </td>


                  <td class="text-center">
                    <!-- Delete button -->
                    <a href="/survey/delete/<%= survey[count]._id %>" class="btn btn-danger btn-sm"> Delete</a>
                  </td>

                </tr>
                <% } %>
              </tbody>
            </table>
          </div>


          <!-- create button -->
          <a href="/survey/create" class="btn btn-primary"><i class="fa fa-plus"></i> Create a survey</a>
        </div>
      </div>
    </div>

<%- include('../partials/footer.ejs'); %>


